<h1>Bienvenue dans le formulaire</h1>
  <form action="/answer" data-turbo="false" class="input-group mb-3">
    <input type="text" name="user_question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
